/Pratical Sessions/Pratical One/Pratical 1/nbproject/private/
/Pratical Sessions/Pratical One/Pratical 1/build/
/Pratical Sessions/Pratical One/SimpleGUI/nbproject/private/
/Pratical Sessions/Pratical One/SimpleGUI/build/
/Pratical Sessions/Pratical One/BankAccount/nbproject/private/